.c-table {
  position: relative;
  border: 1px solid red;

  &__header {
    display: flex;
  }

  &__row {
    display: flex;
    border-top: 1px solid #999;
  }

  &__cell {
    box-sizing: border-box;
    display: flex;
    padding: 4px 8px;
  }
}