.c-table {
  position: relative;
  border: 1px solid red;

<<<<<<< HEAD
  &__wrapper {
    position: relative;
  }

  // 隐形容器
  &__phantom {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &__content {
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
  }
  
  &__item {
    padding: 5px;
    color: #666;
    line-height: 30px;
    box-sizing: border-box;
=======
  &__header {
    display: flex;
  }

  &__row {
    display: flex;
    border-top: 1px solid #999;
  }

  &__cell {
    box-sizing: border-box;
    display: flex;
    padding: 4px 8px;
>>>>>>> 0bece7c5cb410a34945c82e11f7c7ba8497805c9
  }
}